{% load static %}
<!DOCTYPE HTML>
<head>
  <title>Instructions</title>
  
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'aud2gest/css/about_project.css' %}">

</head>

<body style="overflow-y: hidden;">
	<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: rgb(3, 11, 34); height: 72px;" >
		<a href="../index"><img src="{% static 'aud2gest/images/Logo_Silent_Voice.png' %}"  width="45px" ></a>
		<div class="container" style="margin-left: 10px;">
		  <a class="navbar-brand" href="../home">Two-way ISL Translator</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left: 80%;">
			<ul class="navbar-nav ml-auto" >
				<li class="nav-item">
					<a class="nav-link" href="../index">Dashboard</a>
				  </li>
			  <li class="nav-item">
				<a class="nav-link" href="../about_project">About </a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="../instruction">Instructions</a>
			  </li>
			  {% if user.is_authenticated %}
				  <li class="nav-item">
					<a class="nav-link" href="../logout">Logout</a>
				  </li>
				  {% else %}
				  <li class="nav-item">
					<a class="nav-link" href="../login">Login</a>
				  </li>
			  {% endif %}
			</ul>
		  </div>
		</div>
	  </nav>

<h1 style="color: rgb(3, 11, 34); padding: 2% ;font-family: 'Josefin Sans', sans-serif; font-size: 3.5rem;"><center>Instructions</center></h1>
<!-- <img class="image" src="https://templated.co/items/demos/visualize/images/avatar.jpg"/> -->
<h2 >
	<ul>
		<h3 style="color: rgb(3, 11, 34 ); font-family: 'Josefin Sans', sans-serif; font-size: 2.7rem;">For gesture to speech conversion</h3>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">Click on "Press to record video", the webcam window will open. Place your hand in the rectangle provided.</li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">The alphabets will be captured. Click on "esc" key to stop the gesture capturing </li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">You will listen voice of gesture and text</li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">Click on "Translator" to convert text and voice to desired language </li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">To get perfect output try to avoid background in the rectangle provided.</li>
		<h3 style="color: rgb(3, 11, 34); font-family: 'Josefin Sans', sans-serif; font-size: 2.7rem; padding-top: 1.5%;">For speech to gesture conversion</h3>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">Click on "Record" to record audio instantly and click on "Stop" to stop the recording. Click on "confirm"</li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">Click on "Choose file" to upload audio from device.</li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">Click on "Submit" to convert speech to text and gesture image</li>
		<li style="text-align: left; color: rgba(231, 226, 226, 0.89);font-family: 'Merriweather', serif; font-size: 1.3rem;">Speak clearly and try to avoid background noises.</li>
	</ul>
</h2>
<!-- <div class="socialmedia">
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-tumblr"></i></a>
</div> -->
<hr />
<!-- <p class="footer" align="center">© Koe No Katachi. All rights reserved. </p> -->
</body>
</html>